.ipynb_checkpoints/fakenws.xlsx
.ipynb_checkpoints/fakenws1.xlx
.ipynb_checkpoints/fake_news_ukr.csv
.ipynb_checkpoints/fake_or_real_news.csv
.ipynb_checkpoints/verified_dataset.xlsx
myfiles.zip
lib
.idea/
bin
.ipynb_checkpoints/cache